$bg: #242526;
$bg-accent: #484a4d;
$text-color: #dadce1;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;

@mixin transition-ease {
  transition: all 500ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: $text-color;
  text-decoration: none;
}
